<a href="https://colab.research.google.com/github/YE1S0N/ejerrcicios_python_sec/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# introduccion a python
## curso de programacion y algoritmia UPB 202320
- Nombre: Yeison De Leon
- ID: 000491649
- Email: yeison.deupb.edu.co

 esta es la expresion de la lineade la recta
 $$y: mx + b$$

 donde $x$ es la posicion

In [ ]:
# comentarios

name = 'yeison'
print("hello,",name)

hello, yeison

In [ ]:
# comentarios

firstname = 'Yeison'
lastname = 'De Leon,'
age = '18 años'
food = 'el arroz'

print("Mi nombre es",firstname,lastname,"tengo",age, "y me gusta",food)

Mi nombre es Yeison De Leon, tengo 18 años y me gusta el arroz

In [3]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1, 20, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [9]:
for i in range(10, 1, -1):
  print(i)

10
9
8
7
6
5
4
3
2

In [18]:
suma = 0
for i in range(1, 101):
  print(i)
  suma += i

print("suma= ",suma)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
suma=  5050

In [26]:
num = int(input("ingrese un numero "))
factorial = 1
for i in range(1, (num + 1)):
  factorial *= i

print("el factorial es", factorial)

ingrese un numero 5
el factorial es 120